[submodule "packages/authenticate"]
	path = packages/authenticate
	url = https://github.com/KsoftmHub/meebon-shadow-authenticate-handler.git
[submodule "packages/errors"]
	path = packages/errors
	url = https://github.com/KsoftmHub/meebon-shadow-error-handler.git
[submodule "packages/jwt"]
	path = packages/jwt
	url = https://github.com/KsoftmHub/meebon-shadow-jwt-handler.git
[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/KsoftmHub/meebon-utils.git
[submodule "packages/types"]
	path = packages/types
	url = https://github.com/KsoftmHub/meebon-types.git
