import { IService } from "../../../core/interfaces/IService";
import { {{module_name}} } from "../../../entity/{{module_name}}";

export interface I{{module_name}}Service extends IService<{{module_name}}> {
  //
}